@media only screen and (max-width: 550px){
  .details-info .info{
    flex-direction: column;
  }
  .details-box{
    width: 90%;
  }
  .contact-info{
    font-size: .9rem;
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .nav-links-div {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  .nav-links{
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav-links li a{
    color: white;
    
  }
  
  .navigation img{
    display: block;
  }
  .details-info{
    width: 100%;
  }
  .contact-info{
    flex-direction: column;
  }
  
}

@media only screen and (max-width: 1050px){
  .profile{
    flex-direction: column;
  }
  .about-info{
    flex-direction: column;
  }
  .details-info{
    width: 80%;
  }
  .experince-info{
    flex-direction: column;
  }
  .experince-box{
    width: 90%;
  }
  .project-info{
    flex-direction: column;
  }
  .project-card{
    max-width: 500px;
    max-height: 700px;
  }
}

